---
import {
Button,
CtaCardSection,
CustomerQuoteSection,
StickyTextImageSection
} from '@littlesticks/odyssey-theme-components';
import { Icon } from 'astro-icon';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';
import Layout from '../layouts/Page.astro';

const seo = {
  title: 'Home | Mina Design',
  description:
    'Home | Mina Design. Bring a splash of color to your next party!',
};
---

<!-- <AnnouncementBar text="Read Our Latest Blog Post" href="/blog/posts/remote-work-mental-health/" slot="announcement-bar"/> -->
<Layout {seo}>
  <TextAndImageHero reversed>
    <div slot="text-container">
      <h1>Make your party pop!</h1>
      <p>We'll take your party to new heights with our balloon creations.</p>
    </div>
    <div slot="btns-container">
      <Button href="/theme/get-started" customIcon
        >Get Started <Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right" />
        </Fragment></Button
      >
    </div>
    <picture slot="image-container">
      <img
        src="/assets/images/balloons-landing.png"
        alt="Astro Odyssee"
        id="home-hero-image"
        style="object-fit: contain;"
      />
    </picture>
  </TextAndImageHero>

  <CustomerQuoteSection
    quoteText="Mina Design's balloon decorations were simply amazing! They added the perfect touch of color and joy to our event. From start to finish, the team was professional and accommodating to all of our needs. Our guests were blown away by the creativity and uniqueness of the balloon designs. We can't thank this company enough for making our special day even more unforgettable."
    customerName="Karen F."
  />

  <StickyTextImageSection>
    <div slot="text-container">
      <h2>Balloon Services</h2>
      <h3>Decorations</h3>
      <p>
        Designing and setting up unique and eye-catching balloon arrangements
        for special events, including birthdays, weddings, corporate events, and
        trade shows. The balloon decorations can include arches, centerpieces,
        columns, and custom installations.
      </p>
      <h3>Delivery</h3>
      <p>
        Delivering pre-arranged bouquets, centerpieces, or gift boxes to a
        location specified by the customer. The balloons can be arranged for a
        variety of occasions, including birthdays, anniversaries, or just
        because!
      </p>
      <h3>Sculpting</h3>
      <p>
        Custom balloon sculptures for events and parties. This can include
        balloon animals, balloon characters, balloon centerpieces, and other
        custom balloon creations. The balloon sculpting service adds a fun and
        interactive element to any event, and is perfect for children's birthday
        parties, corporate events, and trade shows.
      </p>
    </div>
    <picture slot="image-container">
      <img
        src="/assets/images/landing-1/gender-reveal-arch.jpeg"
        alt="Astro Odyssey"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>

  <CtaCardSection
    background="var(--theme-surface-2)"
    color="var(--theme-on-surface-2)"
  >
    <h2>Get the party started 🥳</h2>
    <p>Fill out our inquiry, and we'll get back to you as soon as possible.</p>
    <Button href="/theme/get-started" customIcon
      >Get Started<Fragment slot="icon">
        <Icon name="ic:baseline-chevron-right" />
      </Fragment></Button
    >
  </CtaCardSection>
</Layout>
