---
const { reversed } = Astro.props;
---

<section
  class={`text-and-image__section ${
    reversed && `text-and-image__section--reversed`
  }`}
>
  <div class='text-and-image__image'>
    <slot name='image-container'></slot>
  </div>
  <div class='text-and-image__text'>
    <slot name='text-container'></slot>
    <div class='text-and-image__btns'>
      <slot name='btns-container'></slot>
    </div>
  </div>
</section>

<style>
  .text-and-image__section {
    padding: var(--section-margin) 4rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: var(--theme-surface-1);
  }
  .text-and-image__text {
    padding: 2rem 0;
    justify-self: center;
    max-width: 25rem;
  }
  .text-and-image__image {
    height: min-content;
  }
  .text-and-image__image :global(img) {
    margin-left: auto;
    height: 100%;
    max-height: 40vh;
    object-fit: contain;
    border-radius: var(--theme-shape-radius);
  }
  @media (max-width: 768px) {
    .text-and-image__section {
      padding: 0 1rem 1rem 1rem;
      grid-template-columns: 1fr;
      flex-wrap: wrap-reverse;
    }
    .text-and-image__text {
      padding: 2rem 0;
    }
  }
</style>
