---
import { Container } from "@littlesticks/odyssey-theme-components";

const { quoteText, customerName } = Astro.props;
---

<section class="customer-quote__section">
  <Container narrow>
    <blockquote>"{quoteText}"</blockquote>
    <p>&mdash; {customerName}</p>
  </Container>
</section>

<style>
  .customer-quote__section {
    padding: var(--section-margin) auto;
    padding: 3rem;
    background-color: var(--theme-on-surface-2);
    text-align: center;
  }
  .customer-quote__section blockquote {
    padding: 0;
    border: none;
    font-size: var(--font-size-md);
    font-weight: 400;
    font-style: italic;
    line-height: 1.8;
  }
  @media (max-width: 768px) {
    .customer-quote__section {
      padding: 1rem;
    }
  }
</style>
