:root {
  /* Theme Colors */
  --theme-primary: #70506d;
  --theme-primary-hover: #5f445d;
  --theme-on-primary: hsl(0, 0%, 100%);

  --theme-bg: #fffffe;
  --theme-on-bg: #30222e;

  --theme-surface-1: #f6eff3;
  --theme-on-surface-1: #3c2a3a;

  --theme-surface-2: #d5c3d3;
  --theme-on-surface-2: #ffffff;

  /* Theme Shapes */
  /* Set this to 0 if you want all of the rounded cards, images, etc to be straight edges */
  --theme-shape-radius: clamp(1rem, 2rem, 3rem);
  --theme-button-border-radius: 0.5rem;

  /* Theme Transition */
  --theme-transition: 0.2s ease-in-out;

  /* Theme Layout */
  --section-margin: 3rem;
  --theme-grid-gap: 1rem;
  --container-max-width: 1440px;
  --container-max-width-narrow: 960px;
  --container-padding: 0 1rem;

  --theme-blog-post-header-width: 1200px;

  /* Theme Fonts */
  --theme-font-family-serif: 'Laila', ui-serif, Georgia, Cambria,
    'Times New Roman', serif;
  --theme-font-family-sans: 'Lato', ui-sans-serif, -apple-system,
    BlinkMacSystemFont, sans-serif;

  /* Theme Sizes */
  --navbar-height: 90px;
}
