---
import { SkipLink } from '@littlesticks/odyssey-theme-components';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import BaseHead from '../components/head/BaseHead.astro';

export interface Props {
  seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang='en'>
  <head>
    <BaseHead {...seo} />
  </head>
  <body>
    <SkipLink />
    <slot name='announcement-bar'></slot>
    <slot name='header'></slot>
    <main id='content'>
      <slot></slot>
    </main>
    <slot name='footer'></slot>
  </body>
</html>
